/* Navbar.module.css */

.navbar {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  margin-left: 2rem; /* Pushes the logo to the right */
}

.navLinks {
  display: flex;
  list-style: none;
  margin-right: auto; /* Pushes the links to the left */
}

.navLinks li {
  margin-left: 20px;
}

.navLinks li:first-child {
  margin-left: 0;
}

.navLinks li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.navLinks li a:hover {
  color: #666;
}
