/* UserForm.css */

.user-form-container {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
}

.user-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.user-form-header .frmspan {
  font-size: 20px;
  font-weight: bold;
}

.user-form-header .cancel-button {
  background-color: #ccc;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.user-form-header .cancel-button:hover {
  background-color: #999;
}

.user-form-input {
  margin-bottom: 15px;
}

.user-form-input label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.user-form-input input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.user-form-button-container {
  text-align: center;
  margin-top: 20px;
}

.user-form-button-container button {
  background-color: #4caf50;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.user-form-button-container button:hover {
  background-color: #45a049;
}
